__pycache__/
*.pyc
*.pyo
*.pyd
# db.sqlite3
# *.sqlite3
*.log
*.pot
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
*.swn
*.swns
*.un~
venv/
*.env
/migrations/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pycharm
*.DS_Store
